body {
  display: flex;
  justify-content: center;
  margin: 4rem
}

#square {
  width: 100px;
  height: 100px;
  background: red;
  transition: transform 1s linear;
  transform-origin: center;
  transform-style: preserve-3D;
}

.square-rotate {
  transform: rotate(90deg);
}
